<div class="columns">

  <div class="column">
    <h2 class="title is-2">Trees in Winnipeg</h2>
    <ol class="ml-5">
      <% @trees.each do |tree|%>
        <li><%= link_to tree.source_id, tree%> <%= tree.diameter%></li>
      <% end %>
    </ol>
  </div>
</div>